// ┌─────────────────┐
// │ SCALE:  MUSICAL │
// └─────────────────┘
$octave:             2;
$major7th:           1.875;
$minor7th:           1.778;
$major6th:           1.667;
$minor6th:           1.6;
$fifth:              1.5;
$dim5th:             1.414;
$aug4th:             1.414;
$fourth:             1.33;
$major3rd:           1.25;
$minor3rd:           1.2;
$major2nd:           1.125;
$minor2nd:           1.067;
$unison:             1;

// ┌───────────────┐
// │ SCALE:  OTHER │
// └───────────────┘
$golden:             1.618;

//
$rem-size:           16px              !default;
$ratio:              $golden           !default;
$body-size:          1rem              !default;
$small-size:         0.85rem           !default;
$baseline:           0.25rem           !default;
$leading:            5*$baseline       !default;
$indent:             1em               !default;
