// This should be a diff module at some point
@mixin not-small {
  @media ( min-width: 30rem ) {
    @content;
  }
}
@mixin medium-break {
  @media (min-width: 30rem) and (max-width: 60rem) {
    @content;
  }
}
@mixin large-break {
  @media (min-width: 60rem) {
    @content;
  }
}


// CSS Generation Variables
$leading:                 true !default;
$leading-responsive:      true !default;
$tracking:                true !default;
$tracking-responsive:     true !default;
$word-spacing:            true !default;
$word-spacing-responsive: true !default;
$alignment:               true !default;
$alignment-responsive:    true !default;
$font-size:               true !default;
$font-size-responsive:    true !default;
$font-weight:             true !default;
  $fw-thin:               true !default;
  $fw-light:              true !default;
  $fw-regular:            true !default;
  $fw-medium:             true !default;
  $fw-demi:               true !default;
  $fw-bold:               true !default;
  $fw-black:              true !default;
$font-weight-responsive:  true !default;
$font-style:              true !default;
$font-style-responsive:   true !default;

@import "config";
@import "type-scale";
@import "alignment";
@import "leading";
@import "tracking";
@import "word-spacing";
@import "font-style";
@import "font-weights";
