// CSS Generation Variables
$leading:                 true;
$responsive-leading:      true;
$tracking:                true;
$responsive-tracking:     true;
$word-spacing:            true;
$responsive-word-spacing: true;
$alignment:               true;
$responsive-alignment:    true;
$font-size:               true;
$responsive-font-size:    true;
$font-weight:             true;
  $fw-thin:               true;
  $fw-light:              true;
  $fw-regular:            true;
  $fw-medium:             true;
  $fw-demi:               true;
  $fw-bold:               true;
  $fw-black:              true;
$font-weight-responsive:  true;